@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");

$element-background: hsl(209, 23%, 22%);
$app-background: hsl(207, 26%, 17%);
$text-color: hsl(0, 0%, 100%);
$shadow-color: hsl(200, 15%, 8%);

@mixin element {
    background-color: $element-background;
    box-shadow: 0px 0px 5px 5px rgba($shadow-color, 0.15);
    border-radius: 5px;
    border: none;
    color: $text-color;
    cursor: pointer;
}

* {
    margin: 0; padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.dark-theme {
    $element-background: hsl(209, 23%, 22%);
    $app-background: hsl(207, 26%, 17%);
    $text-color: hsl(0, 0%, 100%);
    $shadow-color: hsl(200, 15%, 8%);
}

.light-theme {
    $element-background: hsl(0, 0%, 52%);
    $app-background: hsl(0, 0%, 98%);
    $text-color: hsl(200, 15%, 8%);
    $shadow-color: hsl(200, 15%, 8%);
}

body {
    min-height: 100vh;
    background-color: $app-background;
    color: $text-color;
}

a {
    text-decoration: none;
}

button {
    @include element();
    padding: 5px 22px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;

    &:hover {
        filter: brightness(1.2);
    }
}