.border-countries-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;

    button {
        width: 100%;
        padding: 10px;
    }

    a {
        width: 100%;
    }
}