@import "../styles/global";

.country-card {
    
    @include element();
    width: 100%;
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        filter: brightness(1.1);
        transform: scale(1.03);
    }

    .img-container {
        width: 100%;
        height: 170px;
    }
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 5px 5px 0 0;
    }

    .country-info {
        padding: 10px 20px 30px 20px;
    }

    h4 {
        margin-bottom: 10px;
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
}