@import "../styles/global";

.dropdown-container {
    @include element();
    z-index: 200;
    min-width: 250px;
    position: relative;

    .select-region {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 25px;
        gap: 15px
    }

    .select-options {
        @include element();
        position: absolute;
        box-sizing: border-box;
        transform: translateY(5px);
        width: 100%;

        .option {
            padding: 10px 15px;

            &:hover {
                background-color: $app-background;
            }
        }
    }
}